
aside {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    height: 100vh;
    overflow-y: auto;
    width: 17.8rem;
    padding: 1rem;
    border-right: 1px solid #AAA;


    .user {
        margin-top: 1rem;

        .iniciais {
            width: 4rem;
            height: 4rem;
            background-color: blue;
            border-radius: 100%;
        }
    }

    #logo {
        width: 50%;
        height: 20rem;

        img {
            width: 100%;
        }
    }

    nav {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;

    }

    li{
        
        box-sizing: border-box;
        border-radius: 10px;
        width: 100%;
        padding: .8rem 3.5rem;
        padding-left: 1rem;
        color: #000;
        
        p {
            box-sizing: border-box;
            background-size: 2rem;
            background-repeat: no-repeat;
            background-position: left center;
            filter: invert(63%) sepia(7%) saturate(555%) hue-rotate(177deg) brightness(85%) contrast(88%);
            line-height: 2rem;
            height: 100%;
            padding-left: 2.5rem;
        }

        &:nth-child(1){
            p {
                background-image: url('/src/img/dashboard.svg');
            }
        }
        &:nth-child(2){
            p {
                background-image: url('/src/img/trades.svg');
            }
        }
        &:nth-child(3){
            p {
                background-image: url('/src/img/organizations.svg');
            }
        }
        &:nth-child(4){
            p {
                background-image: url('/src/img/users.svg');
            }
        }
        &:nth-child(5){
            p {
                background-image: url('/src/img/settings.svg');
            }
        }
        
        &:hover {
            cursor: pointer;
            background-color: $navigation-cor-background-hover;
            
            p {
                filter: invert(12%) sepia(79%) saturate(2736%) hue-rotate(204deg) brightness(95%) contrast(103%);
                color: #000000 !important;
            }
        }        
    }


    .logout {
        background-image: url('/src/img/logout.svg');
        background-size: 2rem;
        background-repeat: no-repeat;
        background-position: .7rem center;

        color: #000000AA;

        bottom: .3rem;
        left: .3rem;
        padding: .5rem 3.5rem;
        position: absolute;

        p {
            display: inline-block;
            margin-left: 1rem;
            vertical-align: top;
        }

        &:hover{
            cursor: pointer;
           
        }
    }
    
}