$navigation-cor-border_right: #AAA;

$navigation-cor-usercargo-font: #AAA;
$navigation-cor-userinicials-background: #F2F8F4;
$navigation-cor-userinicials-border: #FCFDFC;
$navigation-cor-userinicials: #052e17AA;
$navigation-cor-username: #054e17;

$navigation-cor-texto-hover: #052e17;
$navigation-cor-texto-padrao: #82968a;
$navigation-cor-background-hover: #f2f4f8;

$navigation-fontsize-submenu: 1.1rem;